<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	div{
		margin : 0 auto;
		width : 1000px;
	}
	
	table{
		width:100%;
	}
	
	button{
		display:inline-block;
		width:50%;
	}
</style>
</head>
<body>
	<div id="container">
		<table border="1" align="center">
			<tr>
				<th>단일 선택</th>
				<th>주문 개수</th>
				<th>상품 번호</th>
				<th>상품 이름</th>
				<th>상품 재고</th>
				<th>상품 가격</th>
				<th>등록 날짜</th>
				<th>수정 날짜</th>
			</tr>
			
			<tr th:each="opt:${list}">
				<td><input type="radio" name="productId" th:value="${opt.productId}"></td>
				<td><input class="productCount" readonly></td>
				<td th:text="${opt.productId}"/>
				<td th:text="${opt.productName}"/>
				<td th:text="${opt.productStock}"/>
				<td th:text="${opt.productPrice}"/>
				<td th:text="${opt.registerDate}"/>
				<td th:text="${opt.updateDate}"/>
			</tr>
		</table>
		<button type="button" id="order-done">주문 완료</button>
		<button type="button" onclick="location.href='/order/list'">주문내역</button>
	</div>
	
	<form th:action="@{/order/done}" method="get" name="order-form">
		<input type="hidden" name="productId">
		<input type="hidden" name="productCount">
	</form>
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script type="text/javascript">
		const $radios = $("input[type='radio']");
		const $inputs = $("input[class='productCount']");
		const $done = $("#order-done");
		const $form = $("form[name='order-form']");
		let $temp, i; //temp는 임시로 사용, i는 선택된 라디오 버튼의 인덱스
		
		$radios.on("click", function(){
			i = $radios.index(this);
			console.log(i);
			
			if($temp){
				$temp.prop("readonly", true);
				$temp.val("");
			}
			$inputs.eq(i).prop("readonly", false);
			
			$temp = $inputs.eq(i);
		});
		
		$done.on("click", function(){
			if(i+1){
				console.log(i);
				// 폼 내에서 name속성이 productId인 input태그를 선택하고 선택된 라디오 버튼의 값을 설정
				$form.find("input[name='productId']").val($radios.eq(i).val());
				$form.find("input[name='productCount']").val($inputs.eq(i).val());
				console.log("index : " + $form.find("input[name='productId']").val());
				console.log("count : " + $form.find("input[name='productCount']").val());
				
				$form.submit();
			}
		});
		
		
		
	</script>
	
</body>
</html>