<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- 조건문 -->
	<!-- if-> th:if="${}, else -> th:unless="${}" -->
	
	<table border="1">
		<tr th:if="${list.size()} == 0">
			<td>게시물이 없습니다.</td>
		</tr>
		<tr th:unless="${list.size()} == 0">
			<td>게시물이 있습니다.</td>
		</tr>
	</table>
	
	<!--  -->
	
	<th:block th:switch="${userNum}">
		<span th:case="1">권한1</span><br>
		<span th:case="2">권한2</span><br>
		<span th:case="*">권한없음</span><br>
	</th:block>
</body>
</html>